.hero {
    padding: 74px 16px 88px;
    &__image {
        box-sizing: content-box;
        width: 96px;
        height: 96px;
        border-radius: 50%;
        border: 16px solid #F6F9FD;
    }
    &__image-container {
        display: flex;
        align-items: center;
        justify-content: center;

    }
    &__hello {
        display: none;
    }
    &__description {
        text-align: center;
    }
    &__header {
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
        color: $darktext;
    }
    &__special {
        color: $blue;
    }

    &__text {
        color: $deafulttext;
        font-weight: 300;
        font-size: 16px;
        line-height: 32px;
        margin-bottom: 52px;
        &--special {
            color: $link;
            font-weight: bold;
            text-decoration: none;
        }
    }
    &__contact {
        color: white;
        background-color: $link;
        border-radius: 64px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 40px;
        text-decoration: none;
        padding: 4px 24px;
    }
}