.skills {
  background-color: $blue;
  color: white;
  &__header {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    padding: 64px 0 0 0;
  }
}

.skills-section {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__emoji {
    font-size: 64px;
  }
  &__header {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 44px;
  }
}

.skills-list {
  color: $lightblue;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  list-style: none;
  &__item {
    text-align: left;
    padding-bottom: 24px;
    &::before {
      content: url(https://res.cloudinary.com/hacia/image/upload/v1595319170/tick_z6hiuh.svg);
      padding-right: 12px;
    }
    &--blue::before {
      content: url(https://res.cloudinary.com/hacia/image/upload/v1595321198/bluetick_onvxsk.svg);
      padding-right: 12px;
    }
    &--bullet::before {
      content: url(https://res.cloudinary.com/hacia/image/upload/v1595321190/bullet_ynfllj.svg);
      padding-right: 12px;
    }
  }
}
